@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rockpants: #FF2F9E;
  --chilldilla: #D997F6;
  --excalibur: #70A4DB;
  --chillout: #81F2FF;
  --hawkworld: #FCDD60;
  --greenmachine: #60FC60;
  --fadinglime: #E5FC60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ibm-plex-sans);
}

.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}